<div ng-controller="HomeCtrl" ng-init='init(<%= @polls.to_json %>)'>
  <%if user_signed_in? %>
    <tabset>
    <tab heading="بیشترین نظر شده ها!">
    <br>
<% end %>
  <div class="panel panel-default">

  <%if !user_signed_in? %>
    <div class="panel-heading">بیشترین نظر شده ها!</div>
  <%end%>

    <!-- Table -->
    <table class="table">
      <thead>
        <th>شماره</th>
        <th>عدد نظردهندگان</th>
        <th>موضوع</th>
        <th>تگ ها</th>
      </thead>
      <tbody >
      <tr ng-repeat="poll in polls">
        <td class="col-md-1"><a href="/polls/{{poll.id}}">{{poll.id}}</a></td>
        <td class="col-md-2">{{poll.total_count}}</td>
        <td class="col-md-7" >{{poll.title}}</td>
        <td class="col-md-4" >{{poll.tags.join(' ')}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <% if user_signed_in? %>
    </tab>
    <tab heading="جستجو شده ها">
<br>

  <div class="panel panel-default" ng-if="searcheds">

    <!-- Table -->
    <table class="table">
      <thead>
        <th>شماره</th>
        <th>عدد نظردهندگان</th>
        <th>موضوع</th>
        <th>تگ ها</th>
      </thead>
      <tbody >
      <tr ng-repeat="poll in searcheds">
        <td class="col-md-1"><a href="/polls/{{poll.id}}">{{poll.id}}</a></td>
        <td class="col-md-2">{{poll.total_count}}</td>
        <td class="col-md-7" >{{poll.title}}</td>
        <td class="col-md-4" >{{poll.tags.join(', ')}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pager">
      <li class="next"><a ng-click="search(1)">جدیدتر <span aria-hidden="true">&larr;</span></a></li>
      <li class="previous"><a ng-click="search(-1)"><span aria-hidden="true">&rarr;</span> قدیمی تر</a></li>
    </ul>
  </nav>

  <div class="form-inline center-block">
    <p>
    <div class="input-group">
      <span class="input-group-addon">موضوع</span>
      <input type="text" class="form-control" placeholder="اون نظر سنجیه!" ng-model="search_attrs.title">
    </div>

    <div class="input-group">
      <span class="input-group-addon">تگ ها</span>
      <input type="text" class="form-control" placeholder="تگ۱ تگ۲ تگ۳" aria-describedby="basic-addon1" ng-model="search_attrs.tags">
    </div>

    <button class="btn btn-primary" ng-click="search(0)">بگرد!</button> 
    </p>
  </div>

  </tab>
  </tabset>

  <% end %>

</div>  

