<div ng-controller="UserCtrl" ng-init='init(<%= @polls.to_json %>)'>

  <button type="button" class="btn btn-success" ng-click="hide_create = !hide_create">می خوام نظرسنجی درست کنم!</button>

  <br>
  <!-- Contact Section -->
  <section id="contact" collapse="hide_create">
    <br>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="panel panel-default">
            <div class="panel-body">

              <center><label>ایجاد نظرسنجی</label></center>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">موضوع</span>
                <input placeholder="این یه موضوع است!" maxlength="150" type="text" ng-model="form.poll.title" class="form-control" required>
              </div>

              <br>
              <div class="input-group">
                <span class="input-group-addon">توضیحات</span>
                <textarea class="form-control" ng-model="form.poll.description" rows="3"></textarea>
              </div>

              <br>
              <div class="input-group">
                <span class="input-group-addon">تگ ها</span>
                <input placeholder="تگ۱ تگ۲ تگ۳" class="form-control" ng-model="form.poll.tags"></input>
              </div>

              <br>
              <div class="col-lg-8 col-lg-offset-2">
                <div class="input-group" ng-repeat="index in range(0, form.poll.options.length)">
                  <span class="input-group-addon">گزینه {{index + 1}}:</span>
                  <input maxlength="150" type="text" ng-model="form.poll.options[index]"class="form-control" required>
                </div>
              </div>

              <br>
            </div>
            <center>
            <div >
              <button class="btn btn-primary" ng-click="form.submit()">بفرست</button>
            </div>
          </center>
          <br>

          </div>
        </div>
      </div>
    </div>

  </section>

  <br>

  <tabset>
  <tab heading="نظرسنجی های خودم">

  <div>
    <nav>
      <ul class="pager">
        <li class="previous"><a ng-click="getOwnPolls(-1)"><span aria-hidden="true">&larr;</span> قدیمی تر</a></li>
        <li class="next"><a ng-click="getOwnPolls(1)">جدیدتر <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>

    <div class="panel panel-default">

      <!-- Table -->
      <table class="table">
        <thead>
          <th>شماره</th>
          <th>عدد نظردهندگان</th>
          <th>موضوع</th>
          <th>تگ ها</th>
        </thead>
        <tbody >
        <tr ng-repeat="poll in own_polls">
          <td class="col-md-1"><a href="/polls/{{poll.id}}">{{poll.id}}</a></td>
          <td class="col-md-2">{{poll.total_count}}</td>
          <td class="col-md-7" >{{poll.title}}</td>
          <td class="col-md-4" >{{poll.tags.join(' ')}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>  

  </tab>
  <tab heading="مشارکت کرده ها">
  <div>
    <nav>
      <ul class="pager">
        <li class="previous"><a ng-click="getVotedPolls(-1)"><span aria-hidden="true">&larr;</span> قدیمی تر</a></li>
        <li class="next"><a ng-click="getVotedPolls(1)">جدیدتر <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>

    <div class="panel panel-default">

      <table class="table">
        <thead>
          <th>شماره</th>
          <th>عدد نظردهندگان</th>
          <th>موضوع</th>
          <th>تگ ها</th>
        </thead>
        <tbody >
        <tr ng-repeat="poll in voted_polls">
          <td class="col-md-1"><a href="/polls/{{poll.id}}">{{poll.id}}</a></td>
          <td class="col-md-2">{{poll.total_count}}</td>
          <td class="col-md-7" >{{poll.title}}</td>
          <td class="col-md-4" >{{poll.tags.join(' ')}}</td>
        </tr>
        </tbody>
      </table>

    </div>  
  </div>  
  </tab>

  </tabset>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">نظر سنجی شما ثبت شد.</h3>
    </div>
    <div class="modal-body">
      <%= link_to "برای دسترسی به نظر سنجی بر روی لینک کلینک کنید.", "#{polls_path}/{{poll.id}}" %> 
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">ببند</button>
    </div>
  </script> 

</div>
